In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
df = pd.read_csv('candidate-screening/dataset.csv')

In [4]:
df

,address,city,state,zip,email,first_name,last_name
0,7638 Locust St.,Wilmington,MA,1887,hllam@yahoo.com,Cassidy,Horn
1,348 Foxrun Avenue,Sandusky,OH,44870,campware@outlook.com,Angela,Bennett
2,94 Lake Rd.,Leominster,MA,1453,aracne@verizon.net,Lucille,Hoover
3,154 Gates St.,Titusville,FL,32780,jfreedma@verizon.net,Brogan,Villa
4,41 West Myrtle St.,Hernando,MS,38632,sinclair@me.com,Kristin,Ramirez
...,...,...,...,...,...,...,...
195,27 Vine Court,Moorhead,MN,56560,evilopie@att.net,Asa,Lynn
196,72 East Miles Ave.,Kansas City,MO,64151,kudra@verizon.net,Deacon,Garrison
197,7697 West Fifth Ave.,Ossining,NY,10562,pdbaby@hotmail.com,Stephen,Barron
198,7617 High Lane,Chillicothe,OH,45601,library@yahoo.com,Daniela,Byrd
199,9151 Woodsman St.,Elk Grove Village,IL,60007,fatelk@icloud.com,Maurice,Blair

In [27]:
api_key = "0632814556ce87710090d224cd38e407"

In [28]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"

In [29]:
city_name = input("Enter city name : ")

Enter city name : Birim

In [30]:
complete_url = base_url + "appid=" + api_key + "&q=" + city_name

In [31]:
response = requests.get(complete_url)

In [32]:
x = response.json()

In [34]:
if x["cod"] != "404": 
  
    # store the value of "main", basic weather data 
    # key in variable y 
    y = x["main"] 
  
    # store the temp 
    # to the "temp" key of y 
    current_temperature = y["temp"] 
  
    # store the value of "weather" 
    # key in variable z 
    z = x["weather"] 
  
    # store the value corresponding  
    # to the "description" key at  
    # the 0th index of z 
    weather_description = z[0]["description"] 
  
    # print following values 
    print(" Temperature (in kelvin unit) = " +
                    str(current_temperature) + 
          "\n atmospheric pressure (in hPa unit) = " +
                    str(current_pressure) +
          "\n humidity (in percentage) = " +
                    str(current_humidiy) +
          "\n description = " +
                    str(weather_description)) 
  
else: 
    print(" City Not Found ")

200

In [37]:
z = x['weather']

In [38]:
z[0]['description']

'clear sky'

In [40]:
city_list= pd.read_json('candidate-screening/city_list.json')

In [41]:
city_list

,id,name,country,coord
0,707860,Hurzuf,UA,"{'lon': 34.283333, 'lat': 44.549999}"
1,519188,Novinki,RU,"{'lon': 37.666668, 'lat': 55.683334}"
2,1283378,Gorkhā,NP,"{'lon': 84.633331, 'lat': 28}"
3,1270260,State of Haryāna,IN,"{'lon': 76, 'lat': 29}"
4,708546,Holubynka,UA,"{'lon': 33.900002, 'lat': 44.599998}"
...,...,...,...,...
209574,2613685,Skodsborg,DK,"{'lon': 12.57324, 'lat': 55.822498}"
209575,2613357,Smidstrup,DK,"{'lon': 12.55787, 'lat': 55.865688}"
209576,6460975,Rastnik,BG,"{'lon': 25.283331, 'lat': 41.400002}"
209577,727762,Rastnik,BG,"{'lon': 25.283331, 'lat': 41.400002}"
209578,596826,Murava,LT,"{'lon': 23.966669, 'lat': 54.916672}"